name: Test

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 8-18 * * *'

jobs:
  test:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: volta-cli/action@v1
      - uses: actions/checkout@v3
      - run: npm ci
      - run: npm run test:ci
      - name: Send custom JSON data to Slack workflow
        if: failure()
        id: slack
        uses: slackapi/slack-github-action@v1.19.0
        with:
          payload: |
            {
              "error_message": "fail"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
