name: Test sz.de/jobs urls

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 * * * *'

jobs:
  test:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: volta-cli/action@v1
      - uses: actions/checkout@v3
      - run: npm ci
      - run: npm test:ci
      - uses: actions/upload-artifact@v2
        if: failure()
        with:
          name: test-results
          path: jest-junit.xml
      - uses: dorny/test-reporter@v1
        if: failure()
        with:
          artifact: test-results
          name: sz.de/jobs Monitoring
          path: '*.xml'
          reporter: jest-junit
      - name: Send custom JSON data to Slack workflow
        if: failure()
        id: slack
        uses: slackapi/slack-github-action@v1.18.0
        with:
          payload: |
            {
              "error_message": "fail"
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
