name: Test

on:
  push:
    branches:
      - main
  schedule:
    - cron: '0 8-18 * * *'

jobs:
  test:
    name: Unit tests
    runs-on: ubuntu-latest
    steps:
      - uses: volta-cli/action@v4
      - uses: actions/checkout@v4
      - run: npm ci
      - run: npm run test:ci
      - name: Extract failed tests
        if: failure()
        id: extract
        run: echo "::set-output name=failed_tests::$(jq -r '.testResults[] | .assertionResults[] | select(.status == "failed") | .title' tmp/report.json)"
      - run: echo ${{ steps.extract.outputs.failed_tests }}
      - name: Send custom JSON data to Slack workflow
        if: failure()
        id: slack
        uses: slackapi/slack-github-action@v1.25.0
        with:
          payload: |
            {
              "failed_tests": steps.extract.outputs.failed_tests
            }
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
